.card-body{
  text-align: left;
}

.cardHeader{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.icon-check{
  margin-right: 20px;
  color: green;
}


.skillListItem{
  width: 100%;
}

.card-text{
  margin-bottom: 30px;
}